@using BLL.Services.Dto
@model ChatDto

<div class="ChatWindow">
    <div class="chatHeader">
        <div style="font-size: 18px">@Model.ChatName</div>
        <div>@Model.Participants.Count participants</div>
    </div>

    <div class="BlockForMessages">
        @{
            foreach (var message in Model.Messeges)
            {
                <div class="messageInChatBlock">
                    @await Html.PartialAsync("_MessageInChat", message)
                </div>
            }
        }
    </div>
    
    <div class="messageInputFormInChat">
        @await Html.PartialAsync("_SendForm")
    </div>
</div>