<form class="form-inline">
    <input class="searchInput" id="ChatSearchInput" type="search" placeholder="Search" aria-label="Search">
    <button id="SearchChatButton" type="submit"></button>
</form>