@using BLL.Services.Dto
@{
    IEnumerable<ChatDto> list = Model.Chats;
    Tuple<string, ChatDto> chat = Model.Selected;
}
<div class="WindowLayout">
@await Html.PartialAsync("_ChatsBlock", list)
@await Html.PartialAsync("_ChatWindow", chat)
</div>
